<div class="nav"><app-nav></app-nav></div>

<app-community-head></app-community-head>

<div class="community-container">
    

    <div class="community-links">
        <div><a href="#" routerLink="/community">COMMUNITY</a></div>
        <div class="cBtn"><a href="#" routerLink="/education">EDUCATION</a></div>
        <div><a href="#" routerLink="/development">DEVELOPMENT</a></div>
    </div>

    <div class="community-contents">
        <div class="head"><h2>Books</h2></div>
        <div class="community">

            <div>
               <h3>Angular from Scratch</h3>
               <h4>Learn Angular from Scratch, building a sales application</h4>
            </div>
            <div>
                <h3>Angular Projects - Second Edition</h3>
                <h4>Build modern web apps by exploring Angular with 10 different projects and cutting-edge technologies</h4>
            </div>
            <div>
                <h3>Angular Router</h3>
                <h4>This book is a comprehensive guide to the Angular router written by its designer. The book explores the library in depth, including the mental model, design constraints, subtleties of the API.</h4>
            </div>
            <div>
                <h3>Angular-Buch (German)</h3>
                <h4>The first German book about Angular. It gives you a detailed practical overview of the key concepts of the platform. In each chapter a sample application is built upon with a new Angular topic. All sources are available on GitHub.</h4>
            </div>
            <div>
                <h3>Architecting Angular Applications with NGRX</h3>
                <h4>How to build Angular applications using NGRX</h4>
            </div>
            <div>
                <h3>Becoming a Ninja with Angular</h3>
                <h4>This ebook will help you getting the philosophy of the framework: what comes from 1.x, what has been introduced and why</h4>
            </div>
            <div>
                <h3>Developing with Angular</h3>
                <h4>Practical journey with Angular framework, ES6, TypeScript, webpack and Angular CLI.</h4>
            </div>
            <div>
                <h3>Essential Angular</h3>
                <h4>The book is a short, but at the same time, fairly complete overview of the key aspects of Angular written by its core contributors Victor Savkin and Jeff Cross. The book will give you a strong foundation. It will help you put all the concepts into right places. So you will get a good understanding of why the framework is the way it is.</h4>
            </div>
            <div>
                <h3>How to integrate ButterCMS into Angular 2+ App</h3>
                <h4>Integrate a Headless CMS into your Angular App, create blog posts and pages</h4>
            </div>
            <div>
                <h3>Learning Angular - Third Edition</h3>
                <h4>A no-nonsense beginner's guide to building web applications with Angular and TypeScript</h4>
            </div>
        <div>
            <h3>ng-book</h3>
            <h4>The in-depth, complete, and up-to-date book on Angular. Become an Angular expert today.</h4>
         </div>
         <div>
             <h3>NgRx: Reactive State Management for Angular</h3>
             <h4>Comprehensive learning resource on building Angular apps with NgRx</h4>
         </div>
         <div>
             <h3>O'Reilly Media</h3>
             <h4>More than 15 books from O'Reilly about Angular</h4>
         </div>
         <div>
             <h3>Packt Publishing</h3>
             <h4>More than 10 books from Packt Publishing about Angular</h4>
         </div>
         <div>
             <h3>Rangle's Angular Training Book</h3>
             <h4>It's a free book, drawn from years of collective experience and aligned with the best practices of modern software development. The book covers the most important Angular topics, from getting started with the Angular toolchain to writing Angular applications in a scalable and maintainable manner.</h4>
         </div>
         <div>
             <h3>Reactive State for Angular with NgRx</h3>
             <h4>Learn how to build a Reactive Application with Ngrx and Angular</h4>
         </div>
         <div>
             <h3>RxJS Ultimate</h3>
             <h4>A free book that covers all facets of working with Rxjs from your first Observable to how to make your code run at optimal speed with Schedulers.</h4>
         </div>
         <div>
            <h3>Testing Angular</h3>
            <h4>A Guide to Robust Angular Applications (free online book and e-book)</h4>
         </div>
         <div>
             <h3>The Angular Guide by Wishtack (Français)</h3>
             <h4>The free, open-source and up-to-date Angular guide. This pragmatic guide is focused on best practices and will drive you from scratch to cloud.</h4>
         </div>
        </div>




        <div class="head"><h2>Workshops & Onsite Training</h2></div>
        <div class="community">
            <div>
                <h3>Accelebrate</h3>
                <h4>Customized, Instructor-Led Angular Training</h4>
             </div>
             <div>
                 <h3>Angular Academy (Canada)</h3>
                 <h4>Angular Academy is a two day hands-on public course given in-person across Canada!</h4>
             </div>
             <div>
                 <h3>Angular Architects (German and English)</h3>
                 <h4>In-depth training and consulting with focus on enterprise-scale Angular applications and architecture (remote, on-site company trainings, and public workshops). We also blog about these topics on a regular basis.</h4>
             </div>
             <div>
                 <h3>Angular Boot Camp</h3>
                 <h4>Angular Boot Camp covers introductory through advanced Angular topics. It includes extensive workshop sessions, with hands-on help from our experienced developer-trainers. We take developers or teams from the beginnings of Angular understanding through a working knowledge of all essential Angular features.</h4>
             </div>
             <div>
                 <h3>Angular Hands-on Course (Israel)</h3>
                 <h4>Learn from 500Tech, an Angular consultancy in Israel. This course was built by an expert developer, who lives and breathes Angular, and has practical experience with real world large scale Angular apps.</h4>
             </div>\fr\training\angular\description
             <div>
                 <h3>Angular Master</h3>
                 <h4>Angular Architecture: Strategic Design with Nx - Online Video Course</h4>
             </div>
             <div>
                 <h3>Angular Training</h3>
                 <h4>Angular Training teaches Angular on-site all over the world. Also provides consulting and mentoring.</h4>
             </div>
             <div>
                 <h3>Angular Trainings (French)</h3>
                 <h4>Angular trainings delivered by Zenika (FRANCE)</h4>
             </div>
             <div>
                 <h3>Angular University</h3>
                 <h4>A website to learn and keep up with the Angular ecosystem</h4>
             </div>
             <div>
                 <h3>Angular.de (German)</h3>
                 <h4>Onsite Angular Training delivered by the greatest community in the german speaking area in Germany, Austria and Switzerland. We also regularly post articles and tutorials on our blog.</h4>
             </div>

             <div>
                <h3>Angular.Schule (German)</h3>
                <h4>Angular onsite training and public workshops in Germany from the authors of the German Angular book. We also regularly post articles and videos on our blog (in English and German language).</h4>
            </div>
            <div>
                <h3>Chariot Solutions</h3>
                <h4>Private Angular Training and Mentoring</h4>
            </div>
            <div>
                <h3>Decoded Frontend</h3>
                <h4>YouTube Channel about Angular & Web Development</h4>
            </div>
            <div>
                <h3>Formation Angular (French)</h3>
                <h4>Angular trainings delivered by Human Coders (France)</h4>
            </div>
            <div>
                <h3>Formation JavaScript (French)</h3>
                <h4>Angular onsite training in Paris (France). Monthly Angular workshops and custom onsite classes. We are focused on Angular, so we are always up to date.</h4>
            </div>
            <div>
                <h3>Learn Javascript (Russian)</h3>
                <h4>Complete Angular online course. Constantly updating. Real-time webinars with immediate feedback from the teacher.</h4>
            </div>
            <div>
                <h3>ng-course (Israel)</h3>
                <h4>4 day in-depth Angular training in Israel</h4>
            </div>
            <div>
                <h3>Ninja Squad</h3>
                <h4>OnSite Training From the Authors of "Become A Ninja with Angular"</h4>
            </div>
            <div>
                <h3>StrongBrew</h3>
                <h4>Angular and RxJS trainings, Code Reviews and consultancy. We help software engineers all over the world to create better web-applications...</h4>
            </div>
            <div>
                <h3>TheCodeCampus (German)</h3>
                <h4>Basic and Advanced training across Europe in German</h4>
            </div>
            <div>
                <h3>Thoughtram</h3>
                <h4>Trainings & Code Reviews. We help people to get a deep understanding of different technologies through trainings and code reviews. Our services can be arranged online, making it possible to join in from anywhere in the world, or on-site to get the best experience possible.</h4>
            </div>
            <div>
                <h3>We Are One Sàrl</h3>
                <h4>Onsite Angular Training delivered by We Are One Sàrl in Switzerland</h4>
            </div>
            <div>
                <h3>Web Age Solutions</h3>
                <h4>Virtual and in-person training in Canada and the US</h4>
            </div>
            <div>
                <h3>Webucator</h3>
                <h4>Customized in-person instructor-led Angular training for private groups and public online instructor-led Angular classes.</h4>
            </div>
            </div>


            <div class="head"><h2>Online Training</h2></div>
            <div class="community">
            <div>
                <h3>Academia Binaria (español)</h3>
                <h4>Spanish language Angular articles and information</h4>
            </div>
            <div>
                <h3>Angular Architect Training</h3>
                <h4>Whether you're already an architect or you'd like to become one, come learn how to keep your apps clean and fast (especially at the enterprise level). Four weeks of training includes live office hours every week with an Angular GDE, diversity discounts, and scholarships available!</h4>
            </div>
            <div>
                <h3>Angular Concepts, Code and Collective Wisdom</h3>
                <h4>Learn the core concepts, play with the code, become a competent Angular developer</h4>
            </div>
            <div>
                <h3>Angular Enterprise Playbook</h3>
                <h4>Learn advanced Angular best practices for enterprise teams, created by Nrwl.io.</h4>
            </div>
            <div>
                <h3>Angular FREE Testing Masterclass - Cost Effective Angular Testing</h3>
                <h4>How to write cost effective Angular tests without wasting time on slow and brittle techniques. This masterclass will show you the most effective testing strategies that will accelerate your learning and start you off on the right track. Brought to you by Shai Reznik (HiRez.io) totally free of charge.</h4>
            </div>
            <div>
                <h3>Angular in Action: Start From Scratch (正體中文)</h3>
                <h4>Online video course in Chinese for newbies who need to learning from the scratch in Chinese. It's covering Angular, Angular CLI, TypeScript, VSCode, and some must known knowledge of Angular development.</h4>
            </div>
            <div>
                <h3>Angular Pro Screencast</h3>
                <h4>Youtube Channel. Online videos in English and Russian providing in-depth coverage of the Angular advanced topics.</h4>
            </div>
            <div>
                <h3>angular.love (Polski)</h3>
                <h4>Polish language Angular articles and information</h4>
            </div>
            <div>
                <h3>Angular: Essential Training</h3>
                <h4>This course introduces you to the essentials of this "superheroic" framework, including declarative templates, two-way data binding, and dependency injection.</h4>
            </div>
            <div>
                <h3>AngularFirebase.com</h3>
                <h4>Video lessons covering progressive web apps with Angular, Firebase, RxJS, and related APIs.</h4>
            </div>
            <div>
                <h3>CodeSchool: Accelerating Through Angular</h3>
                <h4>Create the future of web applications by taking Angular for a test drive.</h4>
            </div>
            <div>
                <h3>DotNetTricks</h3>
                <h4>Online videos and training for Angular.</h4>
            </div>
            <div>
                <h3>Dyma (French)</h3>
                <h4>Learn Angular and all its ecosystem (Material, Flex-layout, Ngrx and more) from scratch.</h4>
            </div>
            <div>
                <h3>Egghead.io</h3>
                <h4>Angular Fundamentals and advanced topics focused on Redux Style Angular Applications</h4>
            </div>
            <div>
                <h3>Frontend Masters</h3>
                <h4>Build Web Apps with Angular - recorded video content</h4>
            </div>
            <div>
                <h3>Learn Angular (francais)</h3>
                <h4>French language Angular content.</h4>
            </div>
            <div>
                <h3>Loiane Training (Português)</h3>
                <h4>Free Angular course in Portuguese.</h4>
            </div>
            <div>
                <h3>MDB Angular Boilerplate</h3>
                <h4>Angular CRUD application starter with NgRx state management, Firebase backend and installation guide.</h4>
            </div>
            <div>
                <h3>Platzi (Español)</h3>
                <h4>An online education platform with a complete path in Angular and TypeScript from zero to advanced. Platzi helps students from all over the world acquire new, in-demand skills.</h4>
            </div>
            <div>
                <h3>Pluralsight</h3>
                <h4>Hundreds of Angular courses for all skill levels</h4>
            </div>
            <div>
                <h3>Udemy</h3>
                <h4>Angular courses hosted by Udemy</h4>
            </div>
            <div>
                <h3>Ultimate Angular</h3>
                <h4>Online courses providing in-depth coverage of the Angular ecosystem, AngularJS, Angular and TypeScript, with functional code samples and a full-featured seed environment. Get a deep understanding of Angular and TypeScript from foundation to functional application, then move on to advanced topics with Todd Motto and collaborators.</h4>
            </div>
            <div>
                <h3>Upgrading AngularJS</h3>
                <h4>The world's most comprehensive, step-by-step course on using best practices and avoiding pitfalls while migrating from AngularJS to Angular.</h4>
            </div>
            <div>
                <h3>web.dev/angular</h3>
                <h4>Build performant and progressive Angular applications.</h4>
            </div>
            </div>

    </div>
</div>

<app-footer></app-footer>