<section class="footer-container">
    <div class="footer-links">

        <div class="footer-div">
            <div class="head"><h4>RESOURCES</h4></div>
            <div><a href="#">About</a></div>
            <div><a href="#">Resource listing</a></div>
            <div><a href="#">Press kit</a></div>
            <div><a href="#">Blog</a></div>
        </div>

        <div class="footer-div">
            <div class="head"><h4>HELP</h4></div>
            <div><a href="#">Stack Overflow</a></div>
            <div><a href="#">Join Discord</a></div>
            <div><a href="#">Gitter</a></div>
            <div><a href="#">Report Issues</a></div>
            <div><a href="#">Code of Conduct</a></div>
        </div>

        <div class="footer-div">
            <div class="head"><h4>COMMUNITY</h4></div>
            <div><a href="#">Events</a></div>
            <div><a href="#">Meetups</a></div>
            <div><a href="#">Twitter</a></div>
            <div><a href="#">GitHub</a></div>
            <div><a href="#">Contribute</a></div>
        </div>

        <div class="footer-div">
            <div class="head"><h4>LANGUAGES</h4></div>
            <div><a href="#">Español</a></div>
            <div><a href="#">简体中文版</a></div>
            <div><a href="#">正體中文版</a></div>
            <div><a href="#">日本語版</a></div>
            <div><a href="#">한국어</a></div>
            <div><a href="#">Complete language list</a></div>
        </div>
        
    </div>

    <div class="copy-right">
        <div>Super-powered by Google ©2010-2022.</div>
        <div>Code licensed under an <a href="#">MIT-style License.</a> Documentation licensed under <a href="#">CC BY 4.0.</a></div>
        <div>Version 15.0.5-local+sha.d7ff276bce.</div>
    </div>
</section>