<app-nav></app-nav>

<div class="container">
    <div class="page-not-found"> 
        <div class="img"><img src="../../assets/img/angular-404.svg" alt="404"></div>
        <div class="content">
            <h1>page not found</h1>
            <h4>We're sorry. The page you are looking for cannot be found.</h4>
        </div>
    </div>

    <div class="mark">
        <div class="mark-content">
            Let's see if any of these search results help...
        </div>
    </div>

    <div class="recommend-container">
    <div class="recommend">
        <div>No results found.</div>
        <div>Here are a few links that might be helpful in finding what you are looking for:</div>
    </div>


    <div class="links-container">
        <div class="links">
        <a href="">API reference</a>
        <a href="">Resources</a>
        <a href="">Glossary</a>
        <a href="">Cheat-sheet</a>
        <a href="">Angular blog</a>
    </div>
    </div>

</div>

    <div class="reviewed"><p>reviewed on Mon Feb 28 2022</p></div>
</div>


<app-footer></app-footer>