
<div class="menu-container">
    <div class="intro"><h3>Introduction</h3></div>
    <div><h3>Getting started</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div><h3>Understanding Angular</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div><h3>Developer guides</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div><h3>Best practices</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div><h3>Angular tools</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div><h3>Tutorials</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div><h3>Updates and releases</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div><h3>Reference</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div><h3>Documentation <br><br> contributors guide</h3><i class="fa-sharp fa-solid fa-angle-right"></i></div>
    <div class="versions"><h3>Docs Versions</h3></div>
</div>