
<!-- header nav container -->
<div class="nav-container">
    <!-- left part -->
    <div class="nav-left">
        <div class="icon"><a href="#" routerLink=""><img class="logo1" src="../../assets/img/logo-nav@2x.png" alt="logo"></a>
           <div class="menu-container">
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
            </div>
            <a href="#" routerLink=""><img class="logo2" src="../../assets/img/shield-large.svg" alt="logo"></a>
    </div>
        <div class="nav-links">
            <h3><a href="#" routerLink="/docs">DOCS</a></h3>
            <h3><a href="#" routerLink="/community">COMMUNITY</a></h3>
            <h3><a href="#">BLOG</a></h3>
        </div>
    </div>
    <!-- right part -->
    <div class="nav-right">
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <div class="search-box"><div>/</div></div>
        </div>
        <div class="mode"></div>

        <div class="vertical-line"></div>
        <div class="twitter"><img src="../../assets/img/icons8-twitter-50.png" alt="twitter"></div>
        <div class="github"><img src="../../assets/img/icons8-github-30.png" alt="github"></div>
        <div class="youtube"><img src="../../assets/img/icons8-youtube-50.png" alt="youtube"></div>
        
    </div>
</div>  

<!-- <app-home></app-home> -->