<div class="nav"><app-nav></app-nav></div>

<app-community-head></app-community-head>

<div class="community-container">
    

    <div class="community-links">
        <div class="cBtn"><a href="#" routerLink="/community">COMMUNITY</a></div>
        <div><a href="#" routerLink="/education">EDUCATION</a></div>
        <div><a href="#" routerLink="/development">DEVELOPMENT</a></div>
    </div>

    <div class="community-contents">
        <div class="head"><h2>Community Curations</h2></div>
        <div class="community">

            <div>
                <h3>Angular Builders</h3>
                <h4>A collection of Angular builders for your Angular projects</h4>
            </div>
            <div>
                <h3>Angular Community Meetup</h3>
                <h4>Come learn technical skills and network at this monthly, multi-series, multi-event, multi-timezone online meetup.</h4>
            </div>
            <div>
                <h3>Angular Conferences and Angular Camps in Moscow, Russia.</h3>
                <h4>Angular-RU Community on GitHub is a single entry point for all resources, chats, podcasts and meetups for Angular in Russia.</h4>
            </div>
            <div>
                <h3>Angular inDepth</h3>
                <h4>Peer-reviewed Angular articles and tutorials.</h4>
            </div>
            <div>
                <h3>Angular Nation</h3>
                <h4>Angular Nation is a free private network created for Angular developers to network, collaborate, and ask questions.</h4>
            </div>
            <div>
                <h3>Angular Subreddit</h3>
                <h4>An Angular-dedicated subreddit.</h4>
            </div>
            <div>
                <h3>API Based CMS with Butter</h3>
                <h4>Add API Based CMS to your Angular app</h4>
            </div>
            <div>
                <h3>Catalog of Angular Components & Libraries</h3>
                <h4>A community index of components and libraries maintained on GitHub</h4>
            </div>
            <div>
                <h3>DEV Community</h3>
                <h4>Read and share content and chat about Angular on DEV Community.</h4>
            </div>
            <div>
                <h3>Made with Angular</h3>
                <h4>A showcase of web apps built with Angular.</h4>
            </div>
        </div>


        

        <div class="head"><h2>Podcasts</h2></div>
        <div class="community">
            <div>
                <h3>Adventures in Angular</h3>
                <h4>Adventures in Angular is a weekly podcast dedicated to the Angular platform and related technologies, tools, languages, and practices.</h4>
            </div>
            <div>
                <h3>Angular Experience (NgXP)</h3>
                <h4>Weekly technical-adjacent podcast by Brooke Avery & Erik Slack. Don't just code in Angular, come enjoy the Angular Experience!</h4>
            </div>
            <div>
                <h3>Angular Master Podcast</h3>
                <h4>Listen / Code / Repeat. Everything you need to fall in love with Angular for a long time.</h4>
            </div>
            <div>
                <h3>Angular Rocks</h3>
                <h4>Podcast for those who want to know more about Angular 🚀</h4>
            </div>
            <div>
                <h3>AngularAir</h3>
                <h4>Weekly video podcast hosted by Jeff Whelpley with all the latest and greatest happenings in the wild world of Angular.</h4>
            </div>
            <div>
                <h3>Happy Angular</h3>
                <h4>A weekly German podcast for Angular on the go</h4>
            </div>
            <div>
                <h3>JavaScript Master Podcast</h3>
                <h4>Listen / Code / Repeat. Everything you need to know to become an informed JavaScript developer.</h4>
            </div>
            <div>
                <h3>NgRuAir</h3>
                <h4>Russian language video podcast about Angular.</h4>
            </div>
            <div>
                <h3>The Angular Show</h3>
                <h4>ng-conf's official all-Angular podcast.</h4>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>