<app-nav></app-nav>

<div class="hero-container"></div>

    <section class="intro">
    <!-- hero logo -->
    <div class="hero-logo">
        <img class="large-logo" src="../../assets/img/Angular_full_color_logo.svg.png" alt="angular-logo">
    </div>

    <div class="hero-content">
        <h1>
            Deliver web apps<br>
            with confidence
        </h1>

        <div class="button"><a href="#">TRY ANGULAR</a></div>
    </div>

</section>


<!-- main content section -->
<section class="main-content">

    <div class="main-head">
        <h1>The web development framework for building the future</h1>
    </div>
    <div class="main-cards">
        <div class="card1 card">
            <div class="card-head">
                <h2>WORKS AT ANY SCALE</h2>
            </div>
            <div class="card-img">
                <img src="../../assets/img/any-size1.svg" alt="card-1-img">
            </div>
            <div class="main-description">Angular lets you start small and supports you as your team and apps grow.</div>
            <div class="main-link"><a href="#">Read how Angular helps you grow</a></div>

        </div>


        <div class="card2 card">
            <div class="card-head">
                <h2>LOVED BY MILLIONS</h2>
            </div>
            <div class="card-img">
                <img src="../../assets/img/loved-by-millions2.svg" alt="card-2-img">
            </div>
            <div class="main-description">Join the millions of developers building with Angular in a thriving and friendly community.</div>
            <div class="main-link"><a href="#">Meet the Angular community</a></div>

        </div>


        <div class="card3 card">
            <div class="card-head">
                <h2>BUILD FOR EVERYONE</h2>
            </div>
            <div class="card-img">
                <img src="../../assets/img/build-for-everyone3.svg" alt="card-3-img">
            </div>
            <div class="main-description">Rely on Angular's internationalization tools, security, and accessibility to build for everyone around the world.</div>
            <div class="main-link"><a href="#">Learn more about Angular's tools</a></div>

        </div>

    </div>

    <div class="button"><a href="#">LEARN MORE</a></div>

</section>

<app-footer></app-footer>