

.hero-container{
    width: 100%;
    min-height: 480px;
    height: 67vh;
    max-height: 560px;
    background: linear-gradient(145deg,#0d47a1,#1976d2);
    /* padding: 48px 48px 32px; */
    transform: skewY(8deg);
    transform-origin: 100%;
    position: relative;
    overflow: hidden;
}

/* hero part */
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9;
    top: 15px;
    left: 41%;
    transform: translateX(-40%);
}

.hero-logo img{
    width: 50%;
    min-width: 400px;
    height: 400px;
    margin-top: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8px;
}

.hero-content{
    margin-left: 20px;
}

.hero-content h1{
    color: #fff;
    font-size: 2.5rem;
    line-height: 4.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.button{
    width: 185px;
    height: 43px;
    border-radius: 30px;
    background-color: #4a4646;
    position: relative;
    box-shadow: 0 2px 5px #00000080;

}

.button a{
    text-decoration: none;
    color: #7fc9ff;
    position: absolute;
    top: 50%;
    /* left: 20px; */
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 30px;
}

.button a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main-content{
    background-color: #303030;
    width: 100%;
    /* max-height: 87vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-head, .main-cards{
    max-width: 920px;
    width: 100%;
}

.main-head h1{
    font-size: 32px;
    color: #fff;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

.main-cards{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 920px;

}

.main-cards .card{
    padding: 10px 20px;
    width: 100%;
}

.card-head h2{
    color: #7fc9ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.card-img img{
    height: 206px;
    max-width: 276px;
    width: 100%;
}

.main-description{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    padding: 2px;
    margin: 15px 0;
}

.main-link a{
    text-decoration: none;
    color: #7fc9ff;
    font-family: Arial, Helvetica, sans-serif;
}

.main-link a:hover{
    text-decoration: underline;
}

.main-link{
    padding: 15px 0;
}

.main-content .button{
    margin: 25px 0;
}

.small-logo{
    display: none;
}


/* maximum width of view port is 1040px  */
@media (max-width:1040px){
    .intro{
        flex-wrap: wrap;
    }

    .intro .hero-logo img{
        min-width: 273px;
        height: 300px;
        margin-top: 30px ;
    
    }

    .hero-content h1{
        margin: 0;
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: 500;

    }

    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content .button{
        margin: 40px 0;
    }

    .main-content .main-head{
        padding: 0 20px;
    }

    .main-content .main-head{
        margin-top: 40px;
    }

    .main-content{
        padding: 0 5px;
    }
    /* .main-head, .main-cards{
        width: 820px;
    } */



}

/* maximum width of view port is 600px  */
@media (max-width:600px){
    .main-cards{
        flex-wrap: wrap;
    }

    .main-cards .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content h1{
        font-size: 1.9rem;
        line-height: 3.4rem;
        font-weight: 500;
        
    }

    .hero-container{
        transform: skew(0deg);
    }

    .main-content .main-head{
        padding: 0 20px;
        margin-top: 100px;
    }

    
}


